@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', 'sans-serif';
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 { 
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.hidden {
    visibility: hidden;
    height: 0;
}

.navbar {
    background-color: var(--primary-color);
    height: 70px;
    color: #fff;
}

.navbar ul {
    display: flex;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

/*Showcase*/
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}
.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
}

.showcase-from .from-control {
    margin: 40px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb ;
    width: 100%;
    padding: 3px;
    font-size: 16px;
    margin: 20px 0;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 102px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* Features */
.features-head img {
    width: 350px;
    justify-self: flex-end;
}
.features-head, a, .docs-head {
    color: #fff;
}


.features-sub-head img, .docs-head img, .docs-sub-head img {
    width: 400px;
    justify-self: auto;
    margin: 0;
    padding: 15px;
}
.features-sub-head .p1 {
    text-align: right;
}

/*Gallery*/

.gallery {
    margin: 10px 50px;
}

.gallery img {
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(0);

}

/* Footer */
.footer .social a{
    margin: 0 10px;
}


/*Animations*/
@keyframes slideInFromLeft {
    0%{
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0%{
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/*Tablets amd under*/
@media(max-width: 768px){
    .grid,
    .showcase .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase {
        height: auto;
    }
    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }
    .showcase-form {
        justify-self: center;
        margin: auto;
        animation: slideInFromBotton 1s ease-in;
    }
    }


/*Mobile*/
@media(max-width: 500px){
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        padding: 10px;
        background-color: rgba(0,0,0,0,1);

    }
}
